<!DOCTYPE html>
<html>
  <head>
    <title>Timebox</title>
    <!-- You can use open graph tags to customize link previews.
    Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
	  <meta property="og:url"           content="http://192.168.33.10:3000/capsules">
	  <meta property="og:type"          content="website" />
	  <meta property="og:title"         content="Your Website Title" />
	  <meta property="og:description"   content="Your description" />
	  <meta property="og:image"         content="http://www.your-domain.com/path/image.jpg" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
    <script src="moment-ja.js"></script>
    <script src="http://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/v4.0.0/src/js/bootstrap-datetimepicker.js"></script>
    <%= stylesheet_link_tag 'application' %>
    <script type="text/javascript">
    $(function () {
      $('.date').datetimepicker({
        locale: 'ja',
        format : 'YYYY-MM-DD HH:mm:ss'
      });
    });
    </script>
  </head>
  <body>

    <div class="bs-component">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a href="#" class="navbar-brand">ロゴ</a>
          </div>
          <div class="collapse navbar-collapse">
            <form class="navbar-form navbar-left">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
                <button class="btn btn-default" type="submit">検索</button>
              </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">ログアウト</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
      <%= yield %>
      <div id="fb-root">
      	<script>(function(d, s, id) {
      	  var js, fjs = d.getElementsByTagName(s)[0];
      	  if (d.getElementById(id)) return;
      	  js = d.createElement(s); js.id = id;
      	  js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.8";
      	  fjs.parentNode.insertBefore(js, fjs);
      	}(document, 'script', 'facebook-jssdk'));
      	</script>
    	</div>
    	<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
    </div>
  </body>
</html>
